.containerCoregame{
    margin: 0.5em;
    font-size: 30px;
    height: 80vh;
    position: relative;
    top:15px;
    flex-basis: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow:0px 0px 15px #888888;
    background-color: lightblue;
}
.pcChoiceBox{
    display: none;
}
.playerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.userBox{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.user{
    margin-top: 0.8em;
    width: 3em;
    height: 3em;
    opacity: 55%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../../assets/img/woman-svgrepo-com.svg');
}
.namePlayerCoregame{
    font-size: 18px;
    padding: 0.3em;
    text-align: center;
    background-color:  cadetblue;
    border: darkcyan solid 1px;
    border-radius: 15px;
    box-shadow:0px 0px 5px #888888;

}
.cardBox{
    display: flex;
    width: 9em;
    height: 3em;
}
.cardSasso{
    margin-right: 0.7em;
    width: 3em;
    height: 3em;
    background-image: url('../../../assets/img/rock.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    object-fit: cover;
    
}
.cardSasso:hover{
    object-fit: contain;
    background-size: 90%;
    cursor: pointer;
}
.cardCarta{
    margin-right: 0.5em;
    width: 3em;
    height: 3em;
    background-image: url('../../../assets/img/paper.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    object-fit: cover;
    
}
.cardCarta:hover{
    object-fit: contain;
    background-size: 100%;
    cursor: pointer;
}
.cardForbici{
    width: 3em;
    height: 3em;
    background-image: url('../../../assets/img/scissor.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    object-fit: cover;
    
}
.cardForbici:hover{
    object-fit: contain;
    background-size: 100%;
    cursor: pointer;
}
.playerPoints{
    text-align: center;
    font-weight: bolder;
    width: 5em;
    background-color:  cadetblue;
    border: darkcyan solid 1px;
    border-radius: 15px;
    box-shadow:0px 0px 5px #888888;
}
.registramiButton{
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    background-color:  cadetblue;
    border: darkcyan solid 1px;
    border-radius: 15px;
    box-shadow:0px 0px 5px #888888;
    cursor: pointer;
    margin-bottom: 0.8em;
}
@media only screen and (min-width: 600px) {
    .containerCoregame{
        align-items: flex-start;
    }
    
    .containerWithoutButton{
        display: flex;
        margin: 0 auto;
        gap: 5em;
        
    }
    .playerBox{
        align-items: center;
    }
    .user{
        width: 4em;
        height: 4em;
    }
    .cardBox{
        width: 8em;
        height: 2.5em;
    }
    .pcChoiceBox{
        width: 20vw;
        height: 35vh;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pcImg{
       width: 4em;
       height: 4em;
       background-image: url('../../../assets/img/computer_simple.svg');
       background-size: 100%;
       background-repeat: no-repeat;
       opacity: 50%;
       text-align: center;
    }
    .pc{
        font-size: 18px;
        padding:0.2em 1em;
        text-align: center;
        background-color:  cadetblue;
        border: darkcyan solid 1px;
        border-radius: 15px;
        box-shadow:0px 0px 5px #888888;

    }
    .registramiButton{
        margin: 1em auto;
        
    }
    
}

@media only screen and (min-width: 900px) {
    
}
@media only screen and (min-width: 1200px) {
    
}

