.container_login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.box_login{

    height: 80vh;
    position: relative;
    top:15px;
    flex-basis: 90vw;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 15px;
    box-shadow:0px 0px 15px #888888;
    background-color: lightblue;
}
.box_inputs{
    display: flex;
    flex-wrap: wrap;
}
.login_input_tag, .login_loginbutton_tag , .login_anonimusbutton_tag{
    text-align: center;
    flex-basis: 100%;
}
.login_loginbutton_tag , .login_anonimusbutton_tag{
    margin-top: 35px;
}
.login_input_tag input{
    border: none;
    border-radius: 10px;
    font-size: 25px;
}
.login_input_tag input:focus{
    border: none;
}

/* animation */
.startBoxLog{
    top:15px;
    animation: startBoxLog 600ms linear 0s;
}
@keyframes startBoxLog {
    0% {top:-700px}
    100% {top:15px}
}
.hiding_tab_login{
    top:15px;
    animation-name:hiding_tab_login;
    animation-duration:300ms;
    animation-timing-function: linear;
}
@keyframes hiding_tab_login {
    0% {top: 30px;}
    100% {top:-400px}
}
/*  */
@media only screen and (min-width: 600px) {
    .box_login {
        flex-basis: 80vw;
        height: 30vh;
        top:30px;
        box-shadow:0px 12px 8px #888888;
    }
    .login_loginbutton_tag , .login_anonimusbutton_tag{
        flex-basis: 50%;
        margin-top: none;

    }
    .login_loginbutton_tag button , .login_anonimusbutton_tag button{
        flex-basis: 50%;
        margin-top: none;
        position: absolute;
        bottom: 25%;
    
    }
    .login_loginbutton_tag button {
        left: 15%;
    }
    .login_anonimusbutton_tag button{
        right: 15%;
    }
}
/* animation */
@keyframes hiding_tab_login {
    0% {top: 15px;}
    100% {top:-600px}
}

@media only screen and (min-width: 900px) {
    .box_login {
        flex-basis: 500px
    }
    .login_loginbutton_tag button {
        left: 5%;
        bottom: 20%;
    }
    .login_anonimusbutton_tag button{
        right: 5%;
        bottom: 20%;
    }
}
@media only screen and (min-width: 1200px) {
    
    .login_loginbutton_tag button {
        left: 20%;
    }
    .login_anonimusbutton_tag button{
        right: 20%;
    }
}




  